<!DOCTYPE kpartgui>
<kpartplugin name="kateprojectmanager" library="libkateprojectmanager" version="1">
<MenuBar>
  <Menu name="project"><text>&amp;Project</text>
    <Action name="project_new" />
    <Action name="project_open" />
    <Action name="project_save" />
    <Action name="project_save_as" />
    <Separator />
    <Action name="project_configure" />
    <Action name="project_compile" />
    <Action name="project_run" />
  </Menu>
</MenuBar>
<!--
<SideBar>
</SideBar>
-->
<!--
<ToolBar name="extraToolBar">
  <Action name="plugin_action"/>
</ToolBar>
-->
</kpartplugin>
