[Desktop Entry]
Type=Service
ServiceTypes=Kate/ProjectPlugin
X-KDE-Library=katedefaultprojectplugin
X-Kate-Version=2.2
X-Kate-ProjectType=Default
Name=Kate Default Project Plugin
Name[ar]=ملحق المشروع الفتراضي الخاص بكيت
Name[az]=Kate Ön Qurğulu Layihə Əlavəsi
Name[bn]=কেট ডিফল্ট প্রোজেক্ট প্লাগ-ইন
Name[bs]=Kate default projektni dodatak
Name[ca]=Connector de projecte per omissió per a Kate
Name[cs]=Modul výchozího projektu aplikace Kate
Name[cy]=Ategyn Prosiect Rhagosodiadol Kate
Name[da]=Kate standardprojekt plugin
Name[de]=Kate-Standardprojekt-Plugin
Name[el]=Πρόσθετο προκαθορισμένης εργασίας του Kate
Name[eo]=Kodredaktila projectkromaĵo norma
Name[es]=Plugin predeterminado del proyecto Kate
Name[et]=Kate projektide vaikeplugin
Name[eu]=Kateren proiektu plugin lehenetsia
Name[fa]=متصل کننده‌ی پیش‌فرض پروژه‌ی کیت
Name[fi]=Katen oletusprojektiliitännäinen
Name[fr]=Module de projet par défaut de Kate
Name[fy]=Kate Standert Projekt-plugin
Name[gl]=Plugin do Proxecto por Defecto de Kate
Name[he]=תוסף פרויקט ברירת מחדל ל־Kate
Name[hi]=के-एटीई डिफ़ॉल्ट परियोजना प्लगइन
Name[hr]=Kate umetak za uobičajene projekte
Name[hu]=Kate alapértelmezett projekt-bővítőmodul
Name[is]=Sjálfgefna verkíforritið fyrir Kate
Name[it]=Plugin predefinito progetti di Kate
Name[ja]=Kateデフォルトプロジェクトプラグイン
Name[lo]=ປັກອິນຂອງKate
Name[lt]=Kate standartinio projekto priedas
Name[mk]=Приклучок за стандарден проект на Kate 
Name[mn]=Kate стандарт проект плугин
Name[mt]=Proġett Impliċitu Kate
Name[nb]=Standard prosjekt-tilleggsprogram for Kate
Name[nds]=Kate sien Standard-Projektplugin
Name[nl]=Kate Default Project-plugin
Name[nn]=Standard prosjekttillegg for Kate
Name[pa]=ਕੇਟ ਮੂਲ ਪ੍ਰੋਜੈਕਟ ਪਲੱਗਇਨ
Name[pl]=Wtyczka domyślnego projektu dla Kate
Name[pt]='Plugin' de Projecto Predefinido do Kate
Name[pt_BR]=Plug-in do Projeto Padrão do Kate
Name[ro]=Modul de proiect implicit Kate
Name[ru]=Модуль проекта Kate по умолчанию
Name[sk]=Plugin štandardného projektu Kate
Name[sl]=Vstavek za privzeti projekt Kate
Name[sr]=Kate-ов предефинисани прикључак за пројекте
Name[sr@Latn]=Kate-ov predefinisani dodatak za projekte
Name[sv]=Kate förvalt projektinsticksprogram
Name[ta]=Kate முன்னிருக்கும் திட்ட அறிக்கை செருகு சாதனம்
Name[tg]=Мутассалкунандаи пешфарзи нақши Kate
Name[th]=ปลั้กอินโครงงานปริยายของ Kate
Name[tr]=Öntanımlı Kate Proje Eklentisi
Name[uk]=Типовий втулок проекту Kate
Name[uz]=Kate андоза лойиҳа плагини
Name[xx]=xxKate Default Project Pluginxx
Name[zh_CN]=Kate 默认项目插件
Comment=Default Plugin for Projects
Comment[ar]=الملحق الافتراضي للمشاريع
Comment[az]=Layihələr Üçün Ön Qurğulu Əlavə
Comment[bg]=Стандартна приставка за проекти за Kate
Comment[bn]=প্রোজেক্টের জন্য ডিফল্ট প্লাগ-ইন
Comment[bs]=Podrazumjevani dodatak za projekte
Comment[ca]=Connector per omissió per a projectes
Comment[cs]=Výchozí modul pro projekty
Comment[cy]=Ategyn Rhagosodiadol i Brosiectau
Comment[da]=Standard plugin for projekter
Comment[de]=Standard-Plugin für Projekte
Comment[el]=Προκαθορισμένο πρόσθετο για εργασίες
Comment[eo]=Norma kromaĵo por projektoj
Comment[es]=Plugin predeterminado para proyectos
Comment[et]=Projektide vaikeplugin
Comment[eu]=Proiektuetarako plugin lehenetsia
Comment[fa]=متصل کننده‌ی پیش‌فرض برای پروژه‌ها
Comment[fi]=Projektien oletusliitännäinen
Comment[fr]=Module par défaut pour les projets
Comment[fy]=Standert-plugin foar projekten
Comment[gl]=Plugin por Defecto para os Proxectos
Comment[he]=תוסף ברירת מחדל לפרויקטים
Comment[hi]= परियोजना के लिए डिफ़ॉल्ट प्लगइन
Comment[hr]=Uobičajeni umetak za projekte
Comment[hu]=Alapértelmezett bővítőmodul projektekhez
Comment[is]=Sjálfgefna Kate íforritið
Comment[it]=Plugin predefinito per i progetti
Comment[ja]=プロジェクト用標準プラグイン
Comment[lo]=ປັກອິນສຳຫລັບກ່ອງຄຸນສົມບັດ
Comment[lt]=Standartinis priedas projektams
Comment[mk]=Стандарден приклучок за проекти
Comment[mn]=Проектын стандарт плугин
Comment[nb]=Standard tilleggsprogram for prosjekter
Comment[nds]=Standard-Plugin för Projekten
Comment[nl]=Standaard-plugin voor projecten
Comment[nn]=Standard programtillegg for prosjekt
Comment[pa]=ਪ੍ਰੋਜੈਕਟ ਲਈ ਮੂਲ ਪਲੱਗਇਨ
Comment[pl]=Domyślna wtyczka projektów
Comment[pt]='Plugin' por Omissão para Projectos
Comment[pt_BR]=Plug-in Padrão para Projetos
Comment[ro]=Modul implicit pentru proiecte
Comment[ru]=Модуль для проектов по умолчанию
Comment[sk]=Štandardné plugin pre projekty
Comment[sl]=Privzeti vstavek za projekte
Comment[sr]=Предефинисани прикључак за пројекте
Comment[sr@Latn]=Predefinisani dodatak za projekte
Comment[sv]=Förvalt insticksprogram för projekt
Comment[ta]=திட்டத்திற்கான நிலையான செருகு சாதனம்
Comment[tg]=Мутассалкунандаи пешфарз барои нақшаҳо
Comment[th]=ปลั้กอินปริยายสำหรับโครงงาน
Comment[tr]=Projeler İçin Öntanımlı Eklenti
Comment[uk]=Типовий втулок для проектів
Comment[uz]=Лойиҳалар учун андоза плагин
Comment[vi]=Plugin mặc định cho các dự án
Comment[xx]=xxDefault Plugin for Projectsxx
Comment[zh_CN]=项目的默认插件
Comment[zh_TW]=給專案用的預設外掛程式
