[Desktop Entry]     
Type=Service
ServiceTypes=Kate/ProjectPlugin
X-KDE-Library=katedefaultprojectplugin
X-Kate-Version=2.2
X-Kate-ProjectType=Default
Name=Kate Default Project Plugin
Name[ca]=Connector de projecte per omissió per a Kate
Name[cs]=Modul výchozího projektu aplikace Kate
Name[cy]=Ategyn Prosiect Rhagosodiadol Kate
Name[da]=Kate standardprojekt plugin
Name[de]=Kate-Standardprojekt-Plugin
Name[el]=Πρόσθετο προκαθορισμένης εργασίας του Kate
Name[es]=Plugin predeterminado del proyecto Kate
Name[et]=Kate projektide vaikeplugin
Name[eu]=Kateren Aurremugatutako Proiektua Plugina
Name[fa]=متصل کننده‌ی پیش‌فرض پروژه‌ی کیت
Name[fi]=Katen oletusprojektiliitännäinen
Name[fr]=Module de projet par défaut de Kate
Name[he]=תוסף פרויקט ברירת מחדל ל-Kate
Name[hi]=केएटीई डिफाल्ट परियोजना प्लगइन
Name[hr]=Kate umetak za uobičajene projekte
Name[hu]=Kate alapértelmezett projekt-bővítőmodul
Name[it]=Plugin predefinito progetti di Kate
Name[lo]=ປັກອິນຂອງKate
Name[nb]=Standard prosjekt-tilleggsprogram for Kate
Name[nl]=Kate Default Project-plugin
Name[pl]=Wtyczka domyślnego projektu dla Kate
Name[pt]='Plugin' de Projecto Predefinido do Kate
Name[pt_BR]=Plugin do Projeto Padrão do Kate
Name[ro]=Modul de proiect implicit Kate
Name[sk]=Plugin štandardného projektu Kate
Name[sl]=Vstavek za privzeti projekt Kate
Name[sr]=Kate-ов предефинисани додатак за пројекте
Name[sv]=Kate förvalt projektinsticksprogram
Name[th]=ปลั้กอินโครงงานปริยายของ Kate
Name[tr]=Öntanımlı Kate Proje Eklentisi
Name[uk]=Типовий втулок проекту Kate
Name[uz]=Kate андоза лойиҳа плагини
Name[xx]=xxKate Default Project Pluginxx
Comment=Default Plugin for Projects
Comment[bg]=Стандартна приставка за проекти за Kate
Comment[ca]=Connector per omissió per a projectes
Comment[cs]=Výchozí modul pro projekty
Comment[cy]=Ategyn Rhagosodiadol i Brosiectau
Comment[da]=Standard plugin for projekter
Comment[de]=Standard-Plugin für Projekte
Comment[el]=Προκαθορισμένο πρόσθετο για εργασίες
Comment[es]=Plugin predeterminado para proyectos
Comment[et]=Projektide vaikeplugin
Comment[eu]=Proiektuetarako Aurremugatutako Plugina
Comment[fa]=متصل کننده‌ی پیش‌فرض برای پروژه‌ها
Comment[fi]=Projektien oletusliitännäinen
Comment[fr]=Module par défaut pour les projets
Comment[he]=תוסף ברירת מחדל לפרויקטים
Comment[hi]= परियोजना हेतु डिफाल्ट प्लगइन
Comment[hr]=Uobičajeni umetak za projekte
Comment[hu]=Alapértelmezett bővítőmodul projektekhez
Comment[it]=Plugin predefinito per i progetti
Comment[lo]=ປັກອິນສຳຫລັບກ່ອງຄຸນສົມບັດ
Comment[nb]=Standard tilleggsprogram for prosjekter
Comment[nl]=Standaard-plugin voor projecten
Comment[pl]=Domyślna wtyczka projektów
Comment[pt]='Plugin' por Omissão para Projectos
Comment[pt_BR]=Plugin Padrão para Projetos
Comment[ro]=Modul implicit pentru proiecte
Comment[sk]=Štandardné plugin pre projekty
Comment[sl]=Privzeti vstavek za projekte
Comment[sr]=Предефинисани додатак за пројекте
Comment[sv]=Förvalt insticksprogram för projekt
Comment[th]=ปลั้กอินปริยายสำหรับโครงงาน
Comment[tr]=Projeler İçin Öntanımlı Eklenti
Comment[uk]=Типовий втулок для проектів
Comment[uz]=Лойиҳалар учун андоза плагин
Comment[vi]=Plugin mặc định cho các dự án
Comment[xx]=xxDefault Plugin for Projectsxx
Comment[zh_TW]=給專案用的預設外掛程式
