[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katekttsdplugin
X-Kate-Version=2.2
Name=KTTSD Plugin for Kate
Name[es]=Plugin KTTSD para Kate
Name[et]=Kate KTTSD plugin
Name[nl]=KTTSD-plugin voor Kate
Name[pt]='Plugin' do KTTSD para o Kate
Name[pt_BR]=Plug-in do KTTSD para o Kate
Name[sr]=KTTSD прикључак за Kate
Name[sv]=KTTSD-insticksprogram för Kate
Name[ta]=Kateக்கான KTTSD சொருகி
Name[xx]=xxKTTSD Plugin for Katexx
Comment=Adds a menu entry for reading out the text
Comment[da]=Tilføjer en menuindgang for højtlæsning af teksten
Comment[es]=Añade una entrada de menú para leer el texto
Comment[et]=Lisab menüükirje teksti ettelugemiseks
Comment[nl]=Voegt een menuoptie toe voor het voorlezen van tekst
Comment[pt]=Adiciona um item ao menu para ler o texto
Comment[pt_BR]=Adiciona uma entrada de menu para a leitura do texto
Comment[sr]=Додаје ставку менија за исчитавање текста
Comment[sv]=Lägger till ett menyalternativ för att läsa upp texten
Comment[ta]=படிக்கும் உரையின் பட்டியல்களை சேர்
Comment[xx]=xxAdds a menu entry for reading out the textxx
Icon=kttsd
author=Olaf Jan Schmidt, ojschmidt@kde.org
