[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katekttsdplugin
X-Kate-Version=2.2
Name=KTTSD Plugin for Kate
Name[br]=Lugent KTTSD evit Kate
Name[ga]=Breiseán KTTSD do Kate
Name[nl]=KTTSD-plugin voor Kate
Name[pt]='Plugin' do KTTSD para o Kate
Name[pt_BR]='Plugin' do KTTSD para o Kate
Name[sv]=KTTSD insticksprogram för Kate
Name[ta]=கேட்-டிற்கான KTTSD சொருகுப்பொருள்
Comment=Adds a menu entry for speaking the text
Icon=kttsd
author=Olaf Jan Schmidt, ojschmidt@kde.org
