[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katekttsdplugin
X-Kate-Version=2.2
Name=KTTSD Plugin for Kate
Name[br]=Lugent KTTSD evit Kate
Name[ga]=Breiseán KTTSD do Kate
Name[nl]=KTTSD-plugin voor Kate
Name[pt]='Plugin' do KTTSD para o Kate
Name[pt_BR]='Plugin' do KTTSD para o Kate
Name[sv]=KTTSD insticksprogram för Kate
Name[ta]=கேட்-டிற்கான KTTSD சொருகுப்பொருள்
Comment=Adds a menu entry for speaking the text
Comment[bg]=Приставка за връзка със синтезатора на глас (служи за изговаряне на текст)
Comment[da]=Tilføjer en menuindgang til at læse teksten op
Comment[nl]=Voegt een menuoptie toe voor het oplezen van de tekst door middel van tekst-naar-spraak
Comment[pt]=Adiciona um item ao menu para ler o texto
Comment[pt_BR]=Adiciona um item ao menu para ler o texto
Comment[sv]=Lägger till ett menyalternativ för att läsa upp texten
Comment[ta]=உரையை படிப்பதற்கு ஒரு பட்டி உள்ளீட்டை சேர்க்கிறது
Icon=kttsd
author=Olaf Jan Schmidt, ojschmidt@kde.org
