[Desktop Entry]
Name=KateEditorPart
Name[af]=KATE-REDIGEERDERSDEEL
Name[de]=Kate Editorobjekt
Name[eo]=Redaktiloparto
Name[es]=Parte del editor Kate
Name[fr]=Composant d'édition de texte Kate
Name[is]=KateEditor hlutur
Name[lt]=Kate redaktoriaus dalis
Name[lv]=KateRedaktorsDaļa
Name[mt]=PartiEditurKate
Name[pl]=Komponent edytora Kate
Name[sv]=Kate editordel
Comment=Kate Editor Plugin
Comment[af]=KATE REDIGEERDER INPLAK
Comment[az]=Kate Editor Əlavəsi
Comment[da]=Kate redigeringsindstik
Comment[de]=Kate Editor-Plugin
Comment[eo]=Redaktilo-kromaĵo
Comment[es]=Plugin del editor Kate
Comment[et]=Kate tekstiredaktori plugin
Comment[fi]=Kate editorisovelma
Comment[fr]=Module externe d'édition Kate
Comment[he]=Kate לש ךרועה ףסות
Comment[hu]=Kate szövegszerkesztő bővítőmodul
Comment[is]=Kate ritilsíforrit
Comment[it]=Plugin editor Kate
Comment[ja]=Kate エディタプラグイン
Comment[lt]=Kate redaktoriaus daigtas
Comment[lv]=Kate Redaktora Iespraudnis
Comment[mt]=Plaginn tal-editur Kate
Comment[no_NY]=Tilleggsmodul for skriveprogrammet Kate
Comment[pl]=Wtyczka edytora Kate
Comment[pt_BR]='Plugin' do editor Kate
Comment[pt]='Plugin' do editor Kate
Comment[ru]=дополнение к редактору Kate
Comment[sk]=Modul editora Kate
Comment[sl]=Vstavek za urejevalnik Kate
Comment[sv]=Kate editor insticksprogram
Comment[ta]=Kate ¦¾¡ÌôÀ¡Ç÷ ¦ºÕ¸ø
Comment[tr]=Kate Editor Eklentisi
Comment[uk]=Додаток редактора Kate
Comment[zh_CN.GB2312]=Kate 编辑器插件
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart,KDevelop/Editor
X-KDE-Library=libkateeditorpart
Type=Service
InitialPreference=200
