[Desktop Entry]
Name=KateEditorPart
Comment=Kate Editor Plugin
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart,KDevelop/Editor
X-KDE-Library=libkateeditorpart
Type=Service
InitialPreference=200
