[Desktop Entry]
Comment=Kant - get an edge in editing
Comment[de]=Kant - get an edge in editing
BinaryPattern=
Name=Kant
Name[de]=Kant
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=kant %f
TerminalOptions=
Icon=kant
Path=
DocPath=kant/kant.html
Type=Application
Terminal=0
