[Desktop Entry]
Name=Embedded KDE Advanced Text Editor Component
X-KDE-Library=libkatecore
Icon=kate

ServiceTypes=Kate/Document
Type=Service
InitialPreference=8
