[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Kate/InitPlugin
X-KDE-Derived=Kate/Plugin
Comment=Kate Init Plugin
Comment[da]=Kate init-plugin
Comment[sv]=Kate-initieringsinsticksprogram
Comment[uk]=Втулок Kate Init
