[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Kate/ProjectPlugin
X-KDE-Derived=Kate/Plugin
Comment=Kate Project Plugin
Comment[be]=Дапаўненьне Kate "Праект"
Comment[da]=Kate projekt-plugin
Comment[sv]=Kate-projektinsticksprogram
Comment[uk]=Втулок Kate Project

[PropertyDef::X-KATE-ProjectType]
Type=QString
