[Desktop Entry]
Encoding=UTF-8
GenericName=Text Editor
GenericName[ar]=محرر نصوص
GenericName[be]=Тэкставы рэдактар
GenericName[bg]=Текст Редактор
GenericName[bs]=Tekst editor
GenericName[cs]=Textový editor
GenericName[da]= Tekst-editor
GenericName[de]=Texteditor
GenericName[el]=Διορθωτής Κειμένου
GenericName[eo]=Tekstredaktilo
GenericName[es]=Editor de texto
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu Editorea
GenericName[fi]=Tekstieditori
GenericName[fr]=Éditeur de texte
GenericName[he]=עורך טקסט
GenericName[hu]=szövegszerkesztő
GenericName[is]=Textaritill
GenericName[it]=Editor di testi
GenericName[ja]=テキストエディタ
GenericName[lt]=Teksto redaktorius
GenericName[lv]=Teksta Redaktors
GenericName[mt]=Editur tat-test
GenericName[nl]=teksteditor
GenericName[nn]=Skriveprogram
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de Texto
GenericName[ro]=Editor de text
GenericName[ru]=редактор
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sv]=Texteditor
GenericName[ta]=¯¨Ã ¦¾¡ÌôÀ¡Ç÷
GenericName[th]=เครื่องมือแก้ไขข้อความ
GenericName[tr]=Metin Düzenleyici
GenericName[uk]=Редактор текстів
GenericName[ven]=Musengulusi wa Manwalwa
GenericName[vi]=Trình soạn văn bản
GenericName[xh]=Umhleli Wokubhaliweyo
GenericName[xx]=xx
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
GenericName[zu]=Umhleli Wokubhaliweyo 
BinaryPattern=
Name=Kate
Name[af]=kate
Name[ar]=المحرر المتقدم
Name[bg]=Редактор Kate
Name[eo]=Kodredaktilo
Name[ko]=카테
Name[ru]=Редактор Kate
Name[xx]=xx
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=kate %U
TerminalOptions=
Icon=kate
Path=
DocPath=kate/index.html
Type=Application
Terminal=0
X-DCOP-ServiceType=Multi
