[Desktop Entry]
Comment=Text Editor
BinaryPattern=
Name=Kate
Name[af]=kate
Name[ar]=المحرر المتقدم
Name[bg]=Редактор Kate
Name[eo]=Kodredaktilo
Name[ko]=카테
Name[ru]=Редактор Kate
Name[xx]=xx
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=kate %U
TerminalOptions=
Icon=kate
Path=
DocPath=kate/index.html
Type=Application
Terminal=0
X-DCOP-ServiceType=Multi
