[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Kate/Plugin
X-KDE-Derived=
Comment=Kate Plugin
Comment[af]=Kate Inplak
Comment[az]=Kate Əlavəsi
Comment[be]=Дапаўненьне Kate
Comment[bg]=Приставка за Kate
Comment[bs]=Kate dodatak
Comment[ca]=Connector per a Kate
Comment[cs]=Modul aplikace Kate
Comment[cy]=Ategyn Kate
Comment[da]=Kate-plugin
Comment[de]=Kate-Plugin
Comment[el]=Πρόσθετο Kate
Comment[eo]=Kodredaktila kromaĵo
Comment[es]=Plugin de Kate
Comment[et]=Kate plugin
Comment[eu]=Kate Plugina
Comment[fa]=متصل کننده‌ی کیت
Comment[fi]=Kate sovelma
Comment[fo]=Kate-ístingur
Comment[fr]=Module de Kate
Comment[gl]=Plugin de Kate
Comment[he]=תוסף ל-Kate
Comment[hi]=केएटीई प्लगइन
Comment[hr]=Kate umetak
Comment[hu]=Kate bővítőmodul
Comment[it]=Plugin di Kate
Comment[ja]=Kateプラグイン
Comment[lo]=ປັລກອິນຂອງ Kate
Comment[lt]=Kate priedas
Comment[mn]=Kate-Plugin
Comment[mt]=Plagin ta' Kate
Comment[nb]=Kate-tilleggsprogram
Comment[nl]=Kate-plugin
Comment[nn]=Kate-programtillegg
Comment[nso]=Tsenyo ya Kate
Comment[pl]=Wtyczka Kate
Comment[pt]='Plugin' do Kate
Comment[pt_BR]=Plugin do Kate
Comment[ro]=Modul Kate
Comment[ru]=Плагин Kate
Comment[se]=Kate-lassemoduvla
Comment[sk]=Modul Kate
Comment[sl]=Vstavek za Kate
Comment[sr]=Kate-ов додатак
Comment[ss]=I-plugin ye Kate 
Comment[sv]=Kate-insticksprogram
Comment[ta]=Kபதிப்பான் செருகல்
Comment[th]=ปลั้กอินของ Kate
Comment[tr]=Kate Eklentisi
Comment[uk]=Втулок Kate
Comment[uz]=Kate учун плагин
Comment[xh]=Iplagi efakiweyo ye Kate
Comment[xx]=xxKate Pluginxx
Comment[zh_CN]=Kate 插件
Comment[zh_TW]=Kate 外掛程式
Comment[zu]=I-Plugin ye-Kate

[PropertyDef::X-Kate-Version]
Type=QString
