[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Kate/InitPlugin
X-KDE-Derived=Kate/Plugin
Comment=Kate Init Plugin
Comment[ar]=ملحق بدء Kate
Comment[az]=Kate Init Əlavəsi
Comment[bg]=Приставка за Kate
Comment[bn]=কেট ইনিট প্লাগ-ইন
Comment[bs]=Kate init dodatak
Comment[ca]=Connector d'inici per a Kate
Comment[cs]=Inicializační modul aplikace Kate
Comment[cy]=Ategyn Init Kate
Comment[da]=Kate init-plugin
Comment[de]=Kate-Init-Plugin
Comment[el]=Πρόσθετο Init του Kate
Comment[eo]=Kodredaktila komenckromaĵo
Comment[es]=Plugin de inicio de Kate
Comment[et]=Kate initsialiseerimisplugin
Comment[eu]=Kateren abiatze plugina
Comment[fa]=متصل کننده‌ی کیت Init
Comment[fi]=Kate Init -liitännäinen
Comment[fr]=Module de démarrage de Kate
Comment[fy]=Kate Init-plugin
Comment[gl]=Plugin de Init de Kate
Comment[he]=תוסף אתחול ל־Kate
Comment[hi]=के-एटीई इनिट प्लगइन
Comment[hr]=Kate inicijalizacijski umetak
Comment[hu]=Kate Init bővítőmodul
Comment[is]=Kate ræsiíforrit
Comment[it]=Plugin Init di Kate
Comment[ja]=Kateプラグイン初期化
Comment[lo]=ປັລກອິນຂອງ Kate
Comment[lt]=Kate Init priedas
Comment[mk]=Приклучок за иницијализација во Kate 
Comment[mn]=Kate Init плугин
Comment[nb]=Kate-oppstartstillegg
Comment[nds]=Kate-Init-Plugin
Comment[nl]=Kate Init-plugin
Comment[nn]=Kate-oppstartstillegg
Comment[pa]=ਕੇਂਟ ਇਨਟ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Init dla Kate
Comment[pt]='Plugin' de Inicialização do Kate
Comment[pt_BR]=Plug-in de Inicialização do Kate
Comment[ro]=Modul de iniţializare Kate
Comment[ru]=Модуль инициализации Kate
Comment[se]=Kate-álggahanlassemoduvla
Comment[sk]=Inicializačný modul Kate
Comment[sl]=Vstavek za inicializacijo Kate
Comment[sr]=Kate Init прикључак
Comment[sr@Latn]=Kate Init dodatak
Comment[sv]=Kate-initieringsinsticksprogram
Comment[ta]=Kate Init செருகு சாதனம்
Comment[tg]=Мутассалкунандаи Kate Init
Comment[th]=ปลั้กอินเริ่มของ Kate
Comment[tr]=Kate Eklentisi
Comment[uk]=Втулок ініціалізації Kate
Comment[xx]=xxKate Init Pluginxx
Comment[zh_CN]=Kate 初始化插件
Comment[zh_TW]=Kate 初始外掛程式

[PropertyDef::X-Kate-Version]
Type=QString
