[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Kate/ProjectPlugin
X-KDE-Derived=Kate/Plugin
Comment=Kate Project Plugin
Comment[ar]=ملحق مشاريع Kate
Comment[az]=Kate Layihə Əlavəsi
Comment[be]=Дапаўненьне Kate "Праект"
Comment[bg]=Приставка за проекти за Kate
Comment[bn]=কেট প্রোজেক্ট প্লাগ-ইন
Comment[br]=Lugent raktres Kate
Comment[bs]=Kate projektni dodatak
Comment[ca]=Connector de projecte per a Kate
Comment[cs]=Projektový modul aplikace Kate
Comment[cy]=Ategyn Prosiect Kate
Comment[da]=Kate projekt-plugin
Comment[de]=Kate-Projekt-Plugin
Comment[el]=Πρόσθετο εργασιών του Kate
Comment[eo]=Kodredaktila projektkromaĵo
Comment[es]=Plugin del proyecto Kate
Comment[et]=Kate projektiplugin
Comment[eu]=Kate proiektu plugina
Comment[fa]=متصل کننده‌ی پروژه‌ی کیت
Comment[fi]=Katen projektilitännäinen
Comment[fr]=Module de projet de Kate
Comment[gl]=Plugin de Proxecto de Kate
Comment[he]=תוסף פרויקט ל-Kate
Comment[hi]=के-एटीई परियोजना प्लगइन
Comment[hr]=Kate umetak za projekte
Comment[hu]=Kate projekt-bővítőmodul
Comment[is]=Kate verkíforrit
Comment[it]=Plugin progetti di Kate
Comment[ja]=Kate プロジェクト プラグイン
Comment[lo]=ປັກອິນຂອງ Kate
Comment[mk]=Приклучок за проекти од Kate 
Comment[mn]=Kate проект плугин
Comment[nb]=Prosjekt-tilleggsprogram for Kate
Comment[nds]=Kate-Projekt-Plugin
Comment[nl]=Kate Project-plugin
Comment[nn]=Kate-prosjekttillegg
Comment[pa]=ਕੇਂਟ ਪ੍ਰੋਜੈਕਟ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka proejktu dla Kate
Comment[pt]='Plugin' de Projecto do Kate
Comment[pt_BR]=Plug-in de Projeto do Kate
Comment[ro]=Modul de proiecte Kate
Comment[ru]=Модуль проекта Kate
Comment[se]=Kate-prošeaktalassemoduvla
Comment[sk]=Modul projektov Kate
Comment[sl]=Vstavek za projekt Kate
Comment[sr]=Kate-ов прикључак за пројекте
Comment[sr@Latn]=Kate-ov dodatak za projekte
Comment[sv]=Kate-projektinsticksprogram
Comment[ta]=Kate திட்ட அறிக்கை செருகு சாதனம்
Comment[tg]=Мутассалкунандаи нақшаи Kate 
Comment[th]=ปลั้กอินโครงงานของ Kate
Comment[tr]=Kate Proje Eklentisi
Comment[uk]=Втулок проектів Kate
Comment[uz]=Kate лойиҳа плагини
Comment[xx]=xxKate Project Pluginxx
Comment[zh_CN]=Kate 项目插件
Comment[zh_TW]=Kate 專案外掛程式

[PropertyDef::X-Kate-Version]
Type=QString

[PropertyDef::X-Kate-ProjectType]
Type=QString
