[Desktop Entry]
Encoding=UTF-8
GenericName=Advanced Text Editor
GenericName[ar]=محرر النصوص المتقدم
GenericName[az]=Səciyyəvi Mətn Editoru
GenericName[bg]=Текстов редактор
GenericName[bs]=Napredni editor teksta
GenericName[ca]=Editor de text avançat
GenericName[cs]=Pokročilý textový editor
GenericName[cy]=Golygydd Testun Uwch 
GenericName[da]= Avanceret teksteditor
GenericName[de]=Erweiterter Texteditor
GenericName[el]=Προχωρημένος διορθωτής κειμένου
GenericName[es]=Editor de texto avanzado
GenericName[et]=Võimas tekstiredaktor
GenericName[eu]=Testu editore aurreratua
GenericName[fa]=ویرایشگر متن پیشرفته
GenericName[fi]=Kehittynyt tekstieditori
GenericName[fr]=Éditeur de texte avancé
GenericName[gl]=Editor de Textos Avanzados
GenericName[he]=עורך טקסט מתקדם
GenericName[hi]=उन्नत पाठ संपादक
GenericName[hr]=Napredni uređivač teksta
GenericName[hu]=Szövegszerkesztő
GenericName[it]=Editor di testi avanzato
GenericName[mn]=Текст боловсруулагч
GenericName[nb]=Avansert skriveprogram
GenericName[nl]=Geavanceerde teksteditor
GenericName[nn]=Avansert skriveprogram
GenericName[pl]=Zaawansowany edytor tekstu
GenericName[pt]=Editor de Texto Avançado
GenericName[pt_BR]=Editor de Texto Avançado
GenericName[ro]=Editor avansat de text
GenericName[ru]=Улучшенный текстовый редактор
GenericName[sk]=Pokročilý textový editor
GenericName[sl]=Napredni urejevalnik besedil
GenericName[sr]=Напредни уређивач текста
GenericName[sv]=Avancerad texteditor
GenericName[ta]=மேம்படுத்த்ப்பட்ட உரை திருத்துபவர்
GenericName[tg]=Муҳаррири матни пешрафта
GenericName[tr]=Gelişmiş Metin Düzenleyici
GenericName[uk]=Редактор текстів
GenericName[uz]=Кенгайтирилган матн таҳрирчи
GenericName[vi]=Trình soạn văn bản tiên tiến
GenericName[wa]=Aspougneu di tecse avancî
GenericName[xx]=xxAdvanced Text Editorxx
GenericName[zh_CN]=高级文本编辑器
GenericName[zh_TW]=進階文字編輯器
BinaryPattern=
Name=Kate
Name[ar]=كيت
Name[eo]=Kodredaktilo
Name[fa]=کِیت
Name[hi]=केएटीई
Name[ko]=카테
Name[ru]=Редактор Kate
Name[xx]=xxKatexx
MimeType=text/plain;application/x-kate-project
Exec=kate %u
X-KDE-StartupNotify=true
TerminalOptions=
Icon=kate
Path=
DocPath=kate/index.html
Type=Application
Terminal=0
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;TextEditor
