[Desktop Entry]
Comment=Fast text editor
Comment[da]=En hurtig teksteditor
Comment[he]=עורך טקסט מהיר
Comment[sk]=Rýchly textový editor
Comment[sv]=En snabb enkel texteditor
BinaryPattern=
Name=KWrite
Name[da]=KWrite (teksteditor)
Name[he]=עורך טקסט (KWrite)
Name[sk]=KWrite (Textový editor)
Name[sv]=Kwrite (texteditor)
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;text/x-diff;
Exec=kwrite -caption "%c" %i %m %U
X-KDE-StartupNotify=true
TerminalOptions=
Icon=kwrite
Path=
DocPath=kwrite/index.html
Type=Application
Terminal=0
InitialPreference=8
X-DCOP-ServiceType=Multi
