[Desktop Entry]
Encoding=UTF-8
Comment=Text Editor
Comment[ar]=محرر نصوص
Comment[bg]=Текст Редактор
Comment[da]= Tekst-editor
Comment[de]=Texteditor
Comment[es]=Editor de texto
Comment[fi]=Tekstieditori
Comment[fr]=Éditeur de texte
Comment[he]=עורך טקסט
Comment[hu]=X-alapú szövegszerkesztő
Comment[is]=Textaritill
Comment[it]=Editor di testi
Comment[lt]=Teksto redaktorius
Comment[lv]=Teksta Redaktors
Comment[nl]=teksteditor
Comment[nn]=Skriveprogram
Comment[pt]=Editor de Texto
Comment[pt_BR]=Editor de Texto
Comment[ro]=Editor de text
Comment[sk]=Textový editor
Comment[sv]=Texteditor
Comment[ta]=¯¨Ã ¦¾¡ÌôÀ¡Ç÷
Comment[xh]=Umhleli we Text
Comment[xx]=xx
Comment[zh_TW]=文字編輯器
Comment[zu]=Umhleli Wokubhaliweyo 
BinaryPattern=
Name=KWrite
Name[af]=kskryf
Name[eo]=Simpla kodredaktilo
Name[lv]=KRakstīt
Name[sv]=Kwrite
Name[xx]=xx
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;text/x-diff;
Exec=kwrite -caption "%c" %i %m %U
X-KDE-StartupNotify=true
TerminalOptions=
Icon=kwrite
Path=
DocPath=kwrite/index.html
Type=Application
Terminal=0
InitialPreference=8
X-DCOP-ServiceType=Multi
