[Desktop Entry]
Encoding=UTF-8
Name=Test Shell Script
Name[af]=toets tolk skrip
Name[ar]=نص سطر أوامر اختباري
Name[az]=Qabıq Skripti Sına
Name[da]=Test-skal-skript
Name[es]=Script de prueba del intérprete de comandos
Name[fi]=Testiskripti
Name[fr]=Script shell de test
Name[he]=תסריט מעטפת לניסיון
Name[hu]=Teszt-parancsfájl
Name[lt]=Testinis apvalkalo skriptas
Name[lv]=Testēt Čaulas Skriptu
Name[nn]=Testskript
Name[pt]=Shell Script de Teste
Name[pt_BR]=Shell Script de Teste
Name[sk]=Testovací shell skript
Name[sl]=Poskusna ukazna lupina
Name[sv]=Testa skalskript
Name[xh]=Vavanya Iqokobhe lokushicilelweyo
Name[xx]=xx
Name[zu]=Vivinya Igobodo Lokubhaliweyo
Comment=This is a demo script to show off the scripting interface to Kate.
Comment[af]=hierdie is 'n demo skrip aan vertoon af die skrip koppelvlak aan kate.
Comment[ar]=هذا نص برمجي اختباري لتوضيح واجهة البرمجة لـKate
Comment[da]=Dette er et demo-skript til at vise skriptgrænsefladen som Kate har.
Comment[de]=Demo-Skript für die Skript-Schnittstelle von Kate
Comment[es]=Esta es una demo de script para mostar la interfaz de script a Kate
Comment[fi]=T.mä on esimerkkiskripti, joka esittelee Katen skriptirajapintaa
Comment[fr]=Ceci est un script d'essai pour illustrer l'interface de scriptage de Kate
Comment[he]=זהו תסריט הדגמה להצגת ממשקי התסריטים של Kate
Comment[hu]=Ez egy mintafájl a Kate szkript-kezelés lehetőségeinek bemutatásához
Comment[is]=Þessi skrifta er bara sýnishorn til að státa af skriftueiginleikum Kate ritilsins
Comment[lt]=Tai yra demo skriptas skirtas parodyti Kate skriptų sąsają.
Comment[lv]=Šis ir demo skripts, lai parādītu skriptēšanas saskarsmes virsmu uz Kate.
Comment[nl]=dit is een demo-script om te scripting-interface van Kate te tonen.
Comment[nn]=Dette er eit demoskript som viser skriptgrensesnittet mot Kate.
Comment[pt]=Este é um script para demonstrar a interface de 'scripting' do Kate.
Comment[pt_BR]=Este é um script para demonstrar a interface de 'scripting' do Kate.
Comment[sk]=Toto je demonštarčný skript pre pkážku skriptovacieho rozhrania Kate.
Comment[sl]=To je poskusni skript, ki prikazuje skriptni vmesnik do Kate.
Comment[sv]=Det här är ett demonstrationsskript för att visa skriptgränssnittet i Kate.
Comment[xh]=Oku kokushicilelweyo okuboniswayo ukubonisa ujongano olushicilelayo kwi Kate.
Comment[xx]=xx
Comment[zu]= Lesisicucu sokubhaliweyo sikhombisa ngaphandle inhlanganiselo yokubhaliweyo ku Kate
Type=ShellScript/bash
X-ScriptName=sample.sh
