[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-kate-project
Icon=kate
Patterns=*.kateproject
X-KDE-AutoEmbed=false
DefaultApp=kate
Comment=Kate Project File
Comment[az]=Kate Layihə Faylı
Comment[be]=Файл праекту Kate
Comment[bg]=Приставка за проекти за Kate
Comment[bn]=কেট প্রোজেক্ট ফাইল
Comment[br]=Restr ar raktres Kate
Comment[bs]=Kate projekat
Comment[ca]=Fitxer de projecte Kate
Comment[cs]=Projektový soubor aplikace Kate
Comment[cy]=Ffeil Cywaith Kate
Comment[da]=Kate projektfil
Comment[de]=Kate-Projektdatei
Comment[eo]=Kodredaktila projektdosiero
Comment[es]=Archivo de proyecto de Kate
Comment[et]=Kate projekti fail
Comment[eu]=Kate proiektu plugina
Comment[fi]=Katen projektitiedosto
Comment[fr]=FIchier projet de Kate
Comment[fy]=Kate-projekttriem
Comment[ga]=Comhad Tionscadail Kate
Comment[gl]=Plugin de Proxecto de Kate
Comment[he]=קובץ פרויקט של Kate
Comment[hi]=केएटीई परियोजना फ़ाइल
Comment[hu]=Kate projektfájl
Comment[is]=Kate verkskrá
Comment[it]=File progetto di Kate
Comment[ja]=Kate プロジェクトファイル
Comment[lt]=Kate projekto byla
Comment[mk]=Проектна датотека на Kate 
Comment[mt]=Proġett ta' Kate
Comment[nb]=Kate prosjektfil
Comment[nds]=Kate-Projekt-Datei
Comment[nl]=Kate-projectbestand
Comment[nn]=Kate-prosjektfil
Comment[pa]=ਕੇਂਟ ਪ੍ਰੋਜੈਕਟ ਫਾਇਲ
Comment[pl]=Plik projektu Kate
Comment[pt]=Ficheiro de Projecto do Kate
Comment[pt_BR]=Arquivo de Projeto do Kate
Comment[ro]=Fişier proiect Kate
Comment[ru]=Файл проекта Kate
Comment[se]=Kate-prošeaktafiila
Comment[sk]=Súbor projektu Kate
Comment[sl]=Projektna datoteka Kate
Comment[sr]=Kate-ин пројектни фајл
Comment[sr@Latn]=Kate-ин пројектни фајл
Comment[sv]=Kate-projektfil
Comment[ta]=Kate திட்டப்பணி கோப்பு
Comment[tr]=Kate Proje Dosyası
Comment[uk]=Файл проекту Kate
Comment[uz]=Kate лойиҳа файли
Comment[xx]=xxKate Project Filexx
Comment[zh_CN]=Kate 项目插件

[Property::X-KDE-NativeExtension]
Type=QString
Value=.kateproject
