<!DOCTYPE kpartgui>
<kpartplugin name="katehtmltools" library="libkatehtmltoolsplugin" version="1">
<MenuBar>
 <Menu name="edit"><Text>&amp;Edit</Text>
    <Action name="edit_HTML_tag" />
 </Menu>
</MenuBar>
<!--
<SideBar>
</SideBar>
-->
<!--
<ToolBar name="extraToolBar">
  <Action name="plugin_action"/>
</ToolBar>
-->
</kpartplugin>
